[submodule "pxlFramework/deps/GLFW"]
	path = pxlFramework/deps/GLFW
	url = https://github.com/glfw/glfw
[submodule "pxlFramework/deps/spdlog"]
	path = pxlFramework/deps/spdlog
	url = https://github.com/gabime/spdlog
[submodule "pxlFramework/deps/GLM"]
	path = pxlFramework/deps/GLM
	url = https://github.com/g-truc/glm
[submodule "pxlFramework/deps/ImGui"]
	path = pxlFramework/deps/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
