name: Continuous Integration

on: [push, pull_request, workflow_dispatch]

jobs:
  build-debug-windows:
    name: Windows Build (Debug)
    runs-on: windows-latest

    steps:    
    - uses: actions/checkout@v4

    - name: Download and Install VulkanSDK
      run: |
        curl -O https://sdk.lunarg.com/sdk/download/latest/windows/vulkan_sdk.exe
        ./vulkan_sdk.exe --accept-licenses --default-answer --confirm-command install com.lunarg.vulkan.vma com.lunarg.vulkan.debug com.lunarg.vulkan.volk
        $SDK_VERSION = curl https://vulkan.lunarg.com/sdk/latest/windows.txt
        echo "VULKAN_SDK=C:/VulkanSDK/$SDK_VERSION" | Out-File -FilePath $env:GITHUB_ENV -Append

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Debug

  build-release-windows:
    name: Windows Build (Release)
    runs-on: windows-latest

    steps:    
    - uses: actions/checkout@v4

    - name: Download and Install VulkanSDK
      run: |
        curl -O https://sdk.lunarg.com/sdk/download/latest/windows/vulkan_sdk.exe
        ./vulkan_sdk.exe --accept-licenses --default-answer --confirm-command install com.lunarg.vulkan.vma com.lunarg.vulkan.debug com.lunarg.vulkan.volk
        $SDK_VERSION = curl https://vulkan.lunarg.com/sdk/latest/windows.txt
        echo "VULKAN_SDK=C:/VulkanSDK/$SDK_VERSION" | Out-File -FilePath $env:GITHUB_ENV -Append

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Release
  
  build-debug-linux:
    name: Linux Build (Debug)
    runs-on: ubuntu-latest

    steps:    
    - uses: actions/checkout@v4

    - name: Install Vulkan SDK
      uses: humbletim/install-vulkan-sdk@v1.2

    - name: Install package dependencies
      run: |
        sudo apt update
        sudo apt install libwayland-dev libxkbcommon-dev xorg-dev

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Debug

  build-release-linux:
    name: Linux Build (Release)
    runs-on: ubuntu-latest

    steps:    
    - uses: actions/checkout@v4

    - name: Install Vulkan SDK
      uses: humbletim/install-vulkan-sdk@v1.2

    - name: Install package dependencies
      run: |
        sudo apt update
        sudo apt install libwayland-dev libxkbcommon-dev xorg-dev

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Release
